
[Unit]
Description=A Daemon to read Barcodes from a specified Barcode Reader Device

[Service]
Type=simple
ExecStart=/usr/bin/iot_barcode_device_handler
User=root
Group=root

[Install]
WantedBy=iot-barcode.target
